{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
<div class="all">
    <center><div class="home">
        <h1>Alumni Management System</h1>
    </div>
    <div class="login">
        <h1>ADMIN LOGIN</h1>
        <input type="email" placeholder="E-Mail" required value="ABC@gmail.com">
        <input type="password" placeholder="Password" required value="RAVI MAKANI">
        <button onclick="window.location.href='adminpage'">Submit</button>
    </div></center>
</div>
</body>
</html>
