<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <h1>AMS</h1>
        </div>
        <div class="nav-right">
            <a class="al" href="#click1">Home</a>
            <a class="al" href="#click3">Events</a>
            <a class="al" href="#click4">Contact</a>
            <a class="al" onclick="window.location.href='/'">Log Out</a>
        </div>
        </div>
        <div class="home" id="click1">
            <center><h1 id="click1">Welcome To Alumini Management System</h1></center><br><br>
            <center><h2 id="click1">Managed by Department Of Alumni <br>Vignan's Lara Institute Of Technology & Science,Vadlamudi</h2></center><br><br>
        </div>
        <div class="blank" id="click2">
            <h1>......</h1>
        </div>
        <div class="blank1">
            <h1>.......</h1>
        </div>
        <div class="events" id="click3">
            <div class="event1">
                <center><h1>Events</h1></center>
            </div>
            </div>
            <div class="event">
            <div class="event2">
                <h1>Previous Events</h1><br>
                <h3>January</h3><br>
                <h2>10-1-2024-Sports Meet</h2>
                <h2>13-1-2024-Sankranthi celebration</h2>
                <h2>18-1-2024-Hackathon</h2>
                <h2>26-1-2024-Republic day</h2><br>
                <h3>February</h3><br>
                <h2>01-02-2024-Mahostav</h2>
                <h2>06-02-2024-Hackthon</h2>
                <h2>18-02-2024-Nacc Audit</h2>
                <h2>26-02-2024-Republic day</h2>
                <h3>March</h3><br>
                <h2>01-02-2024-Shivarathri Celebrations</h2>
                <h2>06-02-2024-IT Workshop</h2>
                <h2>18-02-2024-Mentor Classes</h2>
            </div>
            <div class="event3">
                <h1>Current Events</h1><br>
                <h3>April</h3><br>
                <h2>1-04-2024-AWS Training</h2>
                <h2>09-04-2024-Ugadhi Celebrations</h2>
                <h2>11-04-2024-Ramzan celebrations</h2>
                <h2>18-04-2024-CSE-Workshop</h2>
                <h2>24-04-2024-hackathon</h2><br>
            </div>
            <div class="event4">
                <h1>Upcoming Events</h1><br>
                <h3>June</h3><br>
                <h2>15-05-2024-Mentor Classes</h2>
                <h2>20-05-2024-Project Expo</h2><br>
                <h3>July</h3><br>
                <h2>14-06-2024-Chairman's Birthday Celebrations</h2>
                <h2>18-06-2024-Alumni Meet</h2>
                <h2>24-06-2024-Inauguration Of batter cars</h2>
            </div>
        </div>
        <div class="volunteer" id="click4">
        <div class="volunteer1">
            <center><h1>Volunteer Opurtunities</h1></center>
        </div>
        <div class="volunteer2">
            <h1>>Event Management</h1>
            <h1>>Mentor Classes</h1>
            <h1>>Contribution</h1>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <form>
                <center><h1>Volunteer Form</h1></center>
              <label for="name">Name</label>
              <input type="text" id="namee" name="namee" placeholder="Your name..">
              <label for="name">Roll number</label>
              <input type="text" id="rollno" name="number" placeholder="Your Roll Number">
              <label for="name">Mobile number</label>
              <input type="text" id="mobilenumber" name="number" placeholder="Your mobile number">
              <label for="name">Events</label>
            <select id="intrest" name="Intrest">
                <option value="mentorclasses">Select Event</option>
                <option value="mentorclasses">1-6 April 2024-AWS Training</option>
                <option value="mentorclasses">9 April 2024-Ugadi Celebrations</option>
                <option value="mentorclasses">11 April 2024-Ramzan Celebrations</option>
                <option value="mentorclasses">18 April 2024CSE Workshop</option>
                <option value="mentorclasses">24 April 2024 Hackathon</option>
            </select>
              <label for="name">Position</label>
            <select id="intrest" name="Intrest">
              <option value="mentorclasses">Select Position</option>
              <option value="mentorclasses">Mentor</option>
              <option value="australia">Volunteer</option>
            </select>
              <label for="Email">Email</label>
              <input type="text" id="Email" name="lastname" placeholder="Your Email..">
              </select><br><br><br>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write according to your intrest" style="height:200px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
          </div><br><br><br>
          <footer>
            <center><p>All Copyrights belongs To AMS</p></center>
          </footer>
</body>
</html>